.DS_Store
test.py

node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.idea/
data.json
config.py
migrations
npm-debug.log
yarn-error.log

package-lock.json
static/build.js
static/build.js.map
