Flask~=2.2.3
requests~=2.28.2
medsenger-api
python-jose
flask-cors
PyJWT~=2.6.0
pytz~=2022.7.1
alembic~=1.9.4
flask-sqlalchemy
APScheduler~=3.10.0
tzlocal~=4.2
psycopg2-binary
sentry-sdk
sentry-sdk[flask]
