<!DOCTYPE html>
<html lang="en">
<head>
    <!-- For Web Client View: import Web Meeting SDK CSS -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.3.5/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.3.5/css/react-select.css"/>
</head>
<body>
<!-- For either view: import Web Meeting SDK JS dependencies -->
<script src="https://source.zoom.us/2.3.5/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/2.3.5/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/2.3.5/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/2.3.5/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/2.3.5/lib/vendor/lodash.min.js"></script>


<!-- For Client View -->
<script src="https://source.zoom.us/zoom-meeting-2.3.5.min.js"></script>

<script>

    window.SIGNATURE = "{{ signature }}"
    window.API_KEY = "{{ api_key }}"
    window.NUMBER = "{{ call_id }}"
    window.PASS = "{{ call_pass }}"
    window.USERNAME = "medsenger"

    ZoomMtg.preLoadWasm();
    ZoomMtg.prepareWebSDK();
    // loads language files, also passes any error messages to the ui
    ZoomMtg.i18n.load('ru-RU');
    ZoomMtg.i18n.reload('ru-RU');
    ZoomMtg.setZoomJSLib('https://source.zoom.us/2.3.5/lib', '/av');

    ZoomMtg.init({
        leaveUrl: "https://medsenger.ru",
        success: (success) => {
            console.log(success)
            ZoomMtg.join({
                signature: window.SIGNATURE,
                sdkKey: window.API_KEY,
                meetingNumber: window.NUMBER,
                userName: window.USERNAME,
                passWord: window.PASS,
                success: (success) => {
                    console.log(success);
                },
                error: (error) => {
                    console.log(error);
                },
            });
        },
        error: (error) => {
            console.log(error)
        }
    })

</script>
</body>
</html>